<div class="relative bg-cover bg-center bg-fixed"
    style="background-image: url('https://www.ucasal.edu.ar/landing/ingreso-carreras-ucasal/close-up-person-doing-online-shopping.webp');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative z-10 2xl:ml-64 xl:mx-52 md:mx-20 mx-5">
      <h2 class="bigTitle mt-5 text-white shadow-black">
        <span>Financia tus aranceles con:</span>
      </h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 my-5 text-white">
        <div id="tarjetaMacro" class="flex flex-col items-center justify-center text-center mb-5 gap-3">
          <div class="bg-white rounded-lg p-5 shadow-lg">
            <!-- El contenido se llenará dinámicamente -->
          </div>
        </div>
        <div id="tarjetaNaranja" class="flex flex-col items-center justify-center text-center mb-5 gap-3">
          <div class="bg-white rounded-lg p-5 shadow-lg">
            <!-- El contenido se llenará dinámicamente -->
          </div>
        </div>
        <div id="tarjetaBanco" class="flex flex-col items-center justify-center text-center mb-5 gap-3">
          <div class="bg-white rounded-lg p-5 shadow-lg">
            <!-- El contenido se llenará dinámicamente -->
          </div>
        </div>
      </div>
    </div>
