---
import Container from "./Container.astro";
---

<Container>
  <h2 class="bigTitle shadow-black">
    <span style="color: rgb(97, 96, 96)">¡Conocé más sobre nuestros</span
    >&nbsp;convenios <span style="color: rgb(97, 96, 96)"> nacionales! </span>
  </h2>
  <div
    class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
  >
    <ul
      class="flex items-center justify-center md:justify-start infinite-scroll"
    >
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/aefip.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/Amugenal.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/buenos aires.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/cspfa.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/Ejercito argentino.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/enacom.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/fage.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/ledesma.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/servicio penitenciario federal.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/union de empleados de la justicia de la nacion.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/upcn.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/upsafip.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/sancor.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/osde.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/Santander.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/seaboard.png"
          class="w-32 h-32 object-contain"
        />
      </li>
    </ul>
    <ul
      class="flex items-center justify-center md:justify-start infinite-scroll"
      aria-hidden="true"
    >
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/aefip.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/Amugenal.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/buenos aires.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/cspfa.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/Ejercito argentino.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/enacom.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/fage.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/ledesma.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/servicio penitenciario federal.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/union de empleados de la justicia de la nacion.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/upcn.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/upsafip.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/sancor.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/osde.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/Santander.png"
          class="w-32 h-32 object-contain"
        />
      </li>
      <li class="mx-6">
        <img
          src="/landing/ingreso-carreras-ucasal/convenios/seaboard.png"
          class="w-32 h-32 object-contain"
        />
      </li>
    </ul>
  </div>
</Container>

<style is:global>
  /* Define the keyframes for the animation */
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .infinite-scroll {
    animation: infinite-scroll 20s linear infinite;
  }
  .infinite-scroll img {
    height: 100px;
    margin: 0 50px;
  }
</style>
