---
export interface Props {
  codcar?: string;
  nombre?: string;
}
const { codcar, nombre } = Astro.props;
---

<form
  id="pedidoinfo"
  method="post"
  enctype="multipart/form-data"
  action="/postulantes_mail1.php"
  autocomplete="on"
  class="max-w-md mx-auto bg-gray-200 rounded-lg p-4 shadow-md"
>
  <!-- Campo oculto para pasar el valor de codcar -->
  <input type="hidden" name="cbx_sede" value="500" id="cbx_sede" />
  <input type="hidden" name="modo" value="7" id="modo" />
  <input type="hidden" value="702" name="id_origen" id="id_origen" />
  <!-- <input type="hidden" value=" " name="apellido" id="apellido" /> -->
  <input type="hidden" value="postulantes" name="tabla" />
  <input name="addr" type="hidden" value="10.0.219.12" />
  <input
    name="agent"
    type="hidden"
    value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
  />
  <input type="hidden" name="utm_source" id="utm_source" />
  <input type="hidden" name="utm_medium" id="utm_medium" />
  <input type="hidden" name="utm_term" id="utm_term" />
  <input type="hidden" name="utm_content" id="utm_content" />
  <input type="hidden" name="utm_campaign" id="utm_campaign" />
  <input type="hidden" name="idconversion" id="idconversion" />
  <input type="hidden" name="campaignid" id="campaignid" />
  <input type="hidden" name="referer" id="referer" />
  <input name="gclid" type="hidden" id="gclid" />
  <input type="hidden" name="tkp" value="/landing/enviado-home.php" />
  <input
    type="hidden"
    name="fkp"
    value="/landing/enviado-home.php?id=404"
  />

  <p class="text-base font-medium mb-4 mt-2 text-center text-gray-900">
    Quiero recibir informaci&oacute;n en: <br />
    <spam class="font-bold text-lime-600">{nombre}</spam>
  </p>

  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-1 group">
      <input
        type="text"
        name="nombre"
        id="nombre"
        class="block mb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue-500 dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        tabindex="1"
      />
      <label
        for="floating_first_name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Nombre</label
      >
    </div>
    <div class="relative z-0 w-full mb-1 group">
      <input
        type="text"
        name="apellido"
        id="apellido"
        class="block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        tabindex="2"
      />
      <label
        for="floating_last_name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Apellido</label
      >
    </div>
  </div>
  <div class="relative z-0 w-full mb-1 group mt-2">
    <input
      type="email"
      name="email"
      id="email"
      class="block mb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      required
      tabindex="3"
    />
    <label
      for="floating_email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Email</label
    >
  </div>
  <div class="relative z-0 w-full mb-1 group mt-5">
    <input
      type="text"
      name="dni"
      id="dni"
      class="block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      tabindex="4"
    />
    <label
      for="floating_email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >DNI para Promociones</label
    >
  </div>
  <div class="flex space-x-4">
    <div class="relative z-0 w-full mb-1 group">
      <label
        for="cbx_provincia"
        class="block text-sm font-medium text-gray-500 dark:text-gray-400"
      >
        Provincia
      </label>
      <select
        name="cbx_provincia"
        id="cbx_provincia"
        class="block w-full mt-1 px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-white dark:text-dark dark:border-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
        required
        onchange="cargarLocalidades();"
        tabindex="6"
      >
        <option value="" disabled selected>Seleccionar Provincia</option>
      </select>
    </div>
    <div class="relative z-0 w-full mb-1 group">
      <label
        for="cbx_localidad"
        class="block text-sm font-medium text-gray-500 dark:text-gray-400"
      >
        Localidad
      </label>
      <select
        name="cbx_localidad"
        id="cbx_localidad"
        class="block w-full mt-1 px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-white dark:text-dark dark:border-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
        required
        tabindex="7"
        disabled
      >
        <option value="" disabled selected>Seleccionar Localidad</option>
      </select>
    </div>
  </div>

  {
    codcar ? (
      <input type="hidden" name="cbx_carrera" value={codcar} />
    ) : (
      <div class="relative z-0 w-full mb-1 group">
        <label
          for="cbx_carrera"
          class="block text-sm font-medium text-gray-500 dark:text-gray-400"
        >
          Seleccionar Carrera
        </label>
        <select
          name="cbx_carrera"
          id="cbx_carrera"
          class="text-xs px-2 py-1 w-full border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-white dark:text-dark dark:border-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm"
          required
          tabindex="8"
          disabled
        >
          <option value="" selected>
            Seleccionar Carrera
          </option>
        </select>
      </div>
    )
  }
  <div class="flex space-x-4">
    <div class="relative z-0 w-full group mt-6">
      <label
        for="tel"
        class="block text-sm font-medium text-gray-500 dark:text-gray-400"
      ></label>
      <select
        name="tipo_tel"
        id=""
        class="block w-full mt-1 px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-white dark:text-dark dark:border-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
        tabindex="9"
        onchange="telefonoOnChange(this);"
      >
        <option value="cel" style="padding:0px;">Cel</option>
        <option value="fijo" style="padding:0px;">Fijo</option>
      </select>
    </div>
    <div class="relative z-0 w-full group" style="margin-top: 25px;">
      <div class="relative z-0 w-full group">
        <input
          type="text"
          name="cod_area"
          id="cod"
          size="4"
          class="block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=""
          tabindex="10"
          oninput="validarLongitudTelefono(this, 4)"
        />
        <label
          for="cod"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Cod. Area</label
        >
      </div>
    </div>
    <div class="relative z-0 w-full group" style="margin-top: 25px;">
      <input
        type="text"
        name="tel"
        id="tel"
        size="20"
        class="block px-0 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-dark dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
        tabindex="11"
        oninput="validarLongitudTelefono(this, 13)"
      />
      <label
        for="tel"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-1 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Número</label
      >
    </div>
  </div>
  <div
    class="flex g-recaptcha mt-3 justify-center"
    tabindex="12"
    data-callback="reCALLBACK"
    data-sitekey="6LetQBEjAAAAAMewiwE_zXYFkT0IV-dx8_wW39ft"
  >
  </div>
  <div class="flex justify-center mt-2">
    <button
      id="formButton"
      type="submit"
      class="boton-gris text-white bg-[#242F41] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 scale-105"
      tabindex="11"
      onclick="check()"
      disabled
    >
      Enviar
    </button>
    <div id="spinnerContainer" class="hidden" role="status">
      <svg
        aria-hidden="true"
        class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-[#B11111]"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"></path>
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"></path>
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</form>

<script is:inline>
  function check() {
    var telLength = document.getElementsByName("tel")[0].value.length;
    var codAreaLength = document.getElementsByName("cod_area")[0].value.length;

    if (telLength + codAreaLength > 1 && telLength + codAreaLength < 10) {
      document
        .getElementsByName("tel")[0]
        .setCustomValidity("Escribe Telefono y Codigo de Area");
    } else {
      document.getElementsByName("tel")[0].setCustomValidity("");
    }
  }
  function validarLongitudTelefono(inputTelefono, longitudMaxima) {
    var telefono = inputTelefono.value;
    var telefonoLimpio = telefono.replace(/\D/g, "");
    if (telefonoLimpio.length > longitudMaxima) {
      telefonoLimpio = telefonoLimpio.slice(0, longitudMaxima);
    }
    inputTelefono.value = telefonoLimpio;
  }

  document.addEventListener("DOMContentLoaded", function () {
    const codcar = document.getElementById("hiddenCodcar").value;
    if (codcar) {
      cambiarModo(codcar);
    }
  });
</script>
<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    cargarProvincias();
  });

  const provinciasLocalidades = {
    MENDOZA: [
      "MENDOZA CAPITAL",
      "RIVADAVIA",
      "MAIPU",
      "LUJAN DE CUYO",
      "POTRERILLOS",
    ],
    "SAN JUAN": [
      "SAN JUAN",
      "RAWSON",
      "RIVADAVIA",
      "CHIMBAS",
      "CALINGASTA",
      "SANTA LUCIA",
      "CAUCETE",
    ],
    "ENTRE RIOS": [
      "PARANA",
      "CRESPO",
      "VILLAGUAY",
      "FEDERAL",
      "SANTA ELENA",
      "DIAMANTE",
    ],
    CORDOBA: [
      "CORDOBA CAPITAL",
      "ALTA GRACIA",
      "VILLA CARLOS PAZ",
      "MINA CLAVERO",
    ],
    TUCUMAN: ["MONTEROS", "CONCEPCION"],
    "SANTIAGO DEL ESTERO": ["TERMAS DE RIO HONDO", "FRIAS"],
  };

  function cargarProvincias() {
    const provinciaSelect = document.getElementById("cbx_provincia");
    provinciaSelect.removeAttribute("disabled");

    Object.keys(provinciasLocalidades).forEach((provincia) => {
      const option = document.createElement("option");
      option.value = provincia;
      option.text = provincia;
      provinciaSelect.appendChild(option);
    });
  }

  function cargarLocalidades() {
    const provincia = document.getElementById("cbx_provincia").value;
    const localidadSelect = document.getElementById("cbx_localidad");

    localidadSelect.innerHTML =
      '<option value="" disabled selected>Seleccionar Localidad</option>';
    localidadSelect.removeAttribute("disabled");

    if (provinciasLocalidades[provincia]) {
      provinciasLocalidades[provincia].forEach((localidad) => {
        const option = document.createElement("option");
        option.value = localidad;
        option.text = localidad;
        localidadSelect.appendChild(option);
      });
    }

    const carreraSelect = document.getElementById("cbx_carrera");
    carreraSelect.innerHTML =
      '<option value="" disabled selected>Seleccionar Carrera</option>';
    carreraSelect.removeAttribute("disabled");

    console.log(
      "Local Storage: ",
      window.localStorage.getItem("CarrerasModHome"),
    );
    const carrerasData = JSON.parse(
      window.localStorage.getItem("CarrerasModHome"),
    );
    console.log("Dato extraído del LS: ", carrerasData);

    if (carrerasData && carrerasData.length) {
      carrerasData.forEach((carrera) => {
        const option = document.createElement("option");
        option.value = carrera.codigoCarrera;
        option.text = carrera.nombreCarrera;
        carreraSelect.appendChild(option);
      });
    } else {
      console.error("No se encontraron carreras en localStorage");
    }
  }
  function reCALLBACK(r) {
    /* console.log(1, r); */
    if (r) {
      let element = document.getElementById("formButton");
      element.removeAttribute("disabled");
      element.classList.add("boton-rojo");
      element.classList.remove("boton-gris");
    } else {
      alert("Demuestra que no eres un robot!");
    }
  }
  function check() {
    let element = document.getElementById("formButton");
    element.classList.add("hidden");
    document.getElementById("spinnerContainer").classList.remove("hidden");
    if (
      document.getElementsByName("tel")[0].value.length +
        document.getElementsByName("cod_area")[0].value.length >
        1 &&
      document.getElementsByName("tel")[0].value.length +
        document.getElementsByName("cod_area")[0].value.length <
        10
    ) {
      document
        .getElementsByName("tel")[0]
        .setCustomValidity("Escribe Telefono y Codigo de Area");
    } else {
      document.getElementsByName("tel")[0].setCustomValidity("");
    }
  }
</script>
