---
import Container from "./Container.astro";
import Formu from "./Formu.astro";
import Profesores from "../components/icons/Profesores.astro";
import Online from "../components/icons/Online.astro";
import Homeoffice from "../components/icons/Homeoffice.astro";
---

<main class="snap-y snap-mandatory relative h-screen">
  <section
    class="h-1/2 w-full text-center relative overflow-hidden z-0 flex flex-col justify-end"
  >
    <div class="absolute top-0 left-0 w-full h-full z-10 overlay"></div>

    <div class="relative z-20 w-full" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));">
      <Container>
        <h1 class="block text-white py-2 text-left transform-gpu"
            style="
            text-shadow: 0 0 60px #0000;
            font-family: 'Bebas Neue', sans-serif;
            padding: 5px;
          ">
            <span class="text-2xl font-thin md:text-3xl">INGRESO 2025</span>
            <br />
            <span class="text-6xl font-thin md:text-[5.3rem] md:leading-[4.9rem] tracking-wide">
              INSCRIPCIONES <br />ABIERTAS
            </span>
        </h1>
      </Container>
    </div>      

    <div class="absolute top-0 left-0 w-full h-full overflow-hidden z-0">
      <picture class="w-full h-full">
        <source
          media="(max-width: 767px)"
          srcset="/landing/ingreso-carreras-ucasal/campus-vertical.webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="/landing/ingreso-carreras-ucasal/young-man-listening-music-study-session.jpg"
        />
        <img
          src="/landing/ingreso-carreras-ucasal/young-man-listening-music-study-session.jpg"
          class="w-full h-full object-cover"
          alt="Inscripciones abiertas"
        />
      </picture>
    </div>
  </section>

  <section class="h-1/2 w-full absolute top-1/2 transform -translate-y-1/2 flex items-center justify-end z-10">
    <Container>
      <div class="relative z-30">
        <div class="shadow-2xl w-full">
          <Formu />
        </div>
      </div>
    </Container>
  </section>
  
  <section class="relative z-10">
    <Container>
      <div class="grid md:grid-cols-2 md:gap-4">
        <div class="text-gray-600 text-lg font-medium">
          <h2 class="text-3xl font-semibold my-3">
            ¡Sé parte de <span class="text-red-600">hola edu</span>!
          </h2>
          <h3 class="text-xl">
            Queremos ofrecerte mucho más que una carrera universitaria.
            <br/>
            Viví una <b>experiencia educativa</b> completamente diferente, en comunidad.
            <br/>
            Dá el primer paso, nosotros te acompañamos.
          </h3>
          <div class="cards">
            <div class="card bg-[#ee1818] p-2">
              <Profesores class="object-cover rounded-t-lg"></Profesores>
              <p class="text-md font-bold">Profesionales Dedicados</p>
              <!-- <p class="text-xs">Disponibles toda la semana para vos</p> -->
            </div>
            <div class="card bg-[#ee1818] p-2">
              <Online class="object-cover rounded-t-lg"></Online>
              <p class="text-md font-bold">Profesionales Dedicados</p>
              <!-- <p class="text-xs">Disponibles toda la semana para vos</p> -->
            </div>
            <div class="card bg-[#ee1818] p-2">
              <Homeoffice class="object-cover rounded-t-lg"></Homeoffice>
              <p class="text-md font-bold">Profesionales Dedicados</p>
              <!-- <p class="text-xs">Disponibles toda la semana para vos</p> -->
            </div>
            
          </div>
        </div>
      </div>
    </Container>
  </section>
</main>


<style is:inline>
.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center; /* Centra las tarjetas en la columna */
  margin-top: 20px; /* Separación del texto */
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;-
  width: 200px; /* Ajuste de tamaño de las tarjetas */
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
  overflow: hidden;
}


.cards .card p.tip {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 10px;
}

.cards .card p.second-text {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.cards .card img {
  width: 100%;
  object-fit: cover;
}

.cards .card:hover {
  transform: scale(1.05);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
}
</style>