---
import Container from "./Container.astro";
import Formu from "./Formu.astro";
import Profesores from "../components/icons/Profesores.astro";
import Online from "../components/icons/Online.astro";
import Homeoffice from "../components/icons/Homeoffice.astro";
---

<main class="snap-y snap-mandatory relative min-h-screen">
  <section
    class="min-h-[60vh] md:h-3/5 w-full text-center relative overflow-hidden z-0 flex flex-col justify-end"
  >
    <div class="absolute top-0 left-0 w-full h-full z-10 overlay"></div>

    <div
      class="relative z-20 w-full"
      style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));"
    >
      <Container>
        <h1
          class="block text-white py-2 text-left transform-gpu relative -top-12"
          style="text-shadow: 0 0 60px #0000; font-family: 'Bebas Neue', sans-serif;"
        >
          <span class="text-2xl bottom-5 relative font-thin md:text-3xl bg-red-600/80 rounded-lg text-white p-2">MODO HOME</span>
          <br />
          <span
            class="text-6xl font-thin md:text-[5.3rem] md:leading-[4.9rem] tracking-wide"
          >
            INSCRIPCIONES <br />ABIERTAS
          </span>
        </h1>
      </Container>
    </div>

    <div class="absolute top-0 left-0 w-full h-full overflow-hidden z-0">
      <picture class="w-full h-full">
        <source
          media="(max-width: 767px)"
          srcset="landing/ingreso-carreras-ucasal/Home_mobile.webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="landing/ingreso-carreras-ucasal/Home_desk.webp"
        />
        <img
          src="landing/ingreso-carreras-ucasal/Home_desk.webp"
          class="w-full h-full object-cover"
          alt="Inscripciones abiertas"
        />
      </picture>
    </div>
  </section>

  <section
    class="w-full lg:absolute lg:top-1/2 lg:transform lg:-translate-y-1/2 lg:pt-24 flex items-center lg:justify-end justify-center z-10 lg:bottom-auto"
  >
    <Container>
      <div class="relative z-30 mt-4 lg:mt-0">
        <div class="shadow-2xl w-full" id="#formu">
          <Formu />
        </div>
      </div>
    </Container>
  </section>
  <section class="relative min-h-[50vh] md:h-full top-6" id="a solucionar">
    <Container>
      <div class="grid lg:grid-cols-2 md:gap-4">
        <div class="text-gray-600 text-lg font-medium">
          <h2 class="text-3xl font-semibold my-3">
            ¡Estudiá Online, viví Offline!
          </h2>
          <h3 class="text-xl">
            Esta modalidad 100% online está pensada para que puedas iniciar tu formación profesional sin dejar de lado tu vida personal. Sin importar donde te encuentres, pod&eacute;s rendir tus exámenes de manera virtual y acceder a todos los recursos virtuales que ofrece nuestra Universidad.
          </h3>
          <div class="cards flex justify-between">
            <div class="card bg-[#ee1818] p-2">
              <div class="flex justify-center"><Profesores class="object-cover rounded-t-lg"></Profesores></div>
              <p class="text-lg font-bold">Flexibilidad</p>
            </div>
            <div class="card bg-[#ee1818] p-2">
              <div class="flex justify-center"><Homeoffice class="object-cover rounded-t-lg"></Homeoffice></div>
              <p class="text-lg font-bold">Comodidad</p>
            </div>
            <div class="card bg-[#ee1818] p-2">
              <div class="flex justify-center"><Online class="object-cover rounded-t-lg"></Online></div>
              <p class="text-lg font-bold">Innovación</p>
            </div>
          </div>
        </div>
      </div>
    </Container>
  </section>
  
</main>

<style is:inline>
  .cards {
    gap: 6px;
    margin-top: 20px;
  }
  .cards .card {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    overflow: hidden;
  }

  .cards .card p.tip {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
  }

  .cards .card p.second-text {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .cards .card img {
    width: 100%;
    object-fit: cover;
  }

  .cards .card:hover {
    transform: scale(1.05);
  }

  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9);
  }
  
  .zoom-effect {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
</style>

<script is:inline>
  function scrollToForm() {
    var componente = document.getElementById("pedidoinfo"); // Obtener el componente

    // Calcular la posición del componente
    var componentePosicion = componente.offsetTop;

    // Hacer scroll hasta la posición del componente
    window.scrollTo({
      top: componentePosicion + 65, 
      behavior: "smooth",
    });

    // Esperar un tiempo antes de aplicar el zoom
    setTimeout(function () {
      // Añadir la clase de efecto de zoom al componente
      componente.classList.add("zoom-effect");

      // Esperar un tiempo antes de quitar el zoom
      setTimeout(function () {
        // Quitar la clase de efecto de zoom
        componente.classList.remove("zoom-effect");
      }, 1000); // Ajusta el tiempo de espera según tus necesidades
    }, 500); // Ajusta el tiempo de espera según tus necesidades
  }
</script>
