---
import Container from "./Container.astro";
---
<Container>
    <div id="beneficios"></div>
    <div class="bigTitle  my-5 shadow-black " id="process">
        <span style="color: rgb(97, 96, 96)">¡Potencia tu experiencia</span
            >&nbsp;universitaria!:
    </div>  
    <div class="md:grid grid-cols-2 gap-10">
        <div>
            <div class="hidden lg:block sm:hidden relative group">
                <img src="/landing/ingreso-carreras-ucasal/potencia/Campus.webp" alt="Campus" loading="lazy" class="transition ease-in-out delay-150 w-96 ml-12 rounded-xl shadow-lg" id="imagen" />
                <div class="overdot absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300">
                    <ul style="list-style-type: disc;" class="text-white text-lg font-semibold" id="step-description">
                        <!-- Si es que decidimos poner algo este seria el texto predeterminado sino borrar -->
                    </ul>
                </div>
            </div>
        </div>
			<div class="hidden md:grid md:grid-cols-2 grid-cols-1 text-black mt-2">
				<ol class="relative md:grid md:grid-cols-1" style="font-family: Museo Sans; font-weight: 500;">
					<!-- Primera columna -->
					<li class="mb-12 ml-4 active step-dot" style="cursor:pointer;">
						<span
							class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -start-4 ring ring-gray-900 bg-gray-600">
							<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white"
								style="fill:none;stroke:#c3b9b9;">
								<title />
								<g id="tea">
									<ellipse cx="28" cy="29" rx="25" ry="6"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px" />
									<path d="M6,43A27.85,27.85,0,0,1,3,30V29"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px" />
									<path d="M53,29v1c0,15.46-11.19,26-25,26a25.2,25.2,0,0,1-12-3"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px" />
									<path d="M53,34a7.64,7.64,0,0,1,5-2,2.65,2.65,0,0,1,3,3v1a9,9,0,0,1-9,9s-3,0-4,1"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px" />
									<path d="M43,51c4.31,1.28,7,3,7,5,0,3.87-9.85,7-22,7a53.81,53.81,0,0,1-15.4-2"
										style="fill:none;stroke:#c3b9b9;stroke-miterlimit:10;stroke-width:2px" />
									<polygon points="16 45 16 61 4 61 4 45 7 42 13 42 16 45"
										style="fill:none;stroke:#c3b9b9;stroke-linejoin:round;stroke-width:2px" />
									<path d="M10,46V33a4,4,0,0,1,8,0v1"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px" />
									<circle cx="10" cy="46" r="2" />
									<path d="M30,1c0,4.5-4,4.5-4,9s4,4.5,4,9"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px" />
									<path d="M11,5c0,4-4,4-4,8s4,4,4,8"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px" />
									<path d="M47,5c0,4-4,4-4,8s4,4,4,8"
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="40" x2="41" y1="3" y2="2" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="37" x2="36" y1="3" y2="2" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="37" x2="36" y1="6" y2="7" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="40" x2="41" y1="6" y2="7" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="56" x2="57" y1="18" y2="17" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="53" x2="52" y1="18" y2="17" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="53" x2="52" y1="21" y2="22" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="56" x2="57" y1="21" y2="22" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="19" x2="20" y1="11" y2="10" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="16" x2="15" y1="11" y2="10" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="16" x2="15" y1="14" y2="15" />
									<line
										style="fill:none;stroke:#c3b9b9;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px"
										x1="19" x2="20" y1="14" y2="15" />
								</g>
							</svg>
						</span>
						<h3 class="leading-tight ml-16 step-title text-black font-bold">&Aacute;reas de
							Descanso</h3>
					</li>
					<li class="mb-12 ml-4 step-dot" style="cursor:pointer;">
						<span
							class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -start-4 ring ring-gray-900 bg-gray-600">
							<svg height="32px"
								style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2; fill:none;stroke:#c3b9b9;"
								version="1.1" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink">
								<path
									d="M14.5,20.694l0,0.806c0,0.276 0.224,0.5 0.5,0.5l2,0c0.276,0 0.5,-0.224 0.5,-0.5l-0,-0.807l5,1.667c0,0 0,1.64 0,1.64c0,0.276 0.224,0.5 0.5,0.5l3,-0c0.828,-0 1.5,-0.672 1.5,-1.5l-0,-3c-0,-0.189 -0.107,-0.363 -0.276,-0.447l-2.921,-1.46l4.171,-1.391c0.613,-0.204 1.026,-0.777 1.026,-1.423l0,-2.279c0,-0.161 -0.077,-0.312 -0.208,-0.406c-0.13,-0.094 -0.298,-0.119 -0.45,-0.068c-0.447,0.149 -0.895,0.3 -1.342,0.452l0,-0.55c-0,-0.489 -0.239,-0.948 -0.639,-1.228c-0.113,-0.079 -0.234,-0.141 -0.361,-0.186c0.002,-0.057 -0.446,-1.433 -0.742,-2.32c-0.247,-0.743 -1.024,-1.171 -1.784,-0.982c-0.002,0 -0.003,0 -0.004,0.001c-1.538,0.394 -4.597,1.334 -6.31,2.92c-0.834,0.769 -1.346,1.604 -1.66,2.336c-0.314,-0.731 -0.826,-1.566 -1.661,-2.336c-1.713,-1.587 -4.773,-2.527 -6.314,-2.913c0,0 -0,0 -0.001,0c-0.756,-0.188 -1.529,0.237 -1.775,0.976c-0.302,0.883 -0.75,2.261 -0.749,2.317c-0.127,0.045 -0.248,0.107 -0.361,0.186c-0.4,0.281 -0.639,0.739 -0.639,1.229l-0,0.545l-1.342,-0.447c-0.152,-0.051 -0.32,-0.026 -0.45,0.068c-0.131,0.094 -0.208,0.245 -0.208,0.406l0,2.279c0,0.646 0.413,1.219 1.026,1.423l4.176,1.392l-2.918,1.459c-0.169,0.084 -0.276,0.257 -0.276,0.446c0,-0 -0.004,1.813 -0.006,2.998c-0.001,0.398 0.157,0.781 0.438,1.063c0.282,0.282 0.664,0.44 1.062,0.44c1.185,0 2.998,-0 2.998,-0c0.276,-0 0.5,-0.224 0.5,-0.5l-0,-1.64l5,-1.666Zm8.462,-2.154l-4.38,1.46l4.576,1.526c0.204,0.068 0.342,0.259 0.342,0.474c-0,0 -0,1.5 0,1.5c0,0 2.5,0 2.5,-0c0.276,-0 0.5,-0.224 0.5,-0.5c-0,0 -0,-2.691 -0,-2.691l-3.538,-1.769Zm-13.919,0.001l-3.536,1.768l-0.005,2.69c-0,0.133 0.052,0.26 0.146,0.354c0.094,0.094 0.221,0.147 0.354,0.147l2.498,-0l-0,-1.5c0,-0.215 0.138,-0.406 0.342,-0.474c-0,-0 4.577,-1.526 4.577,-1.526l-4.376,-1.459Zm6.457,2.459l0,-3.5l1,0c0,0.001 0,3.5 0,3.5l-0,-0l-0,-0l-1,0Zm-1,-1.694l-0,-1.946l-11,-3.666c-0,-0 -0,1.585 0,1.585c0,0.215 0.138,0.407 0.342,0.475l10.658,3.552Zm3,0l10.658,-3.552c0.204,-0.068 0.342,-0.26 0.342,-0.475c0,-0.708 0,-1.158 0,-1.584c-3.671,1.237 -7.366,2.585 -11,3.678l-0,1.933Zm9,-5.986l0,-0.892c-0,-0.163 -0.08,-0.316 -0.213,-0.409c-0.134,-0.094 -0.305,-0.116 -0.458,-0.061l-9.649,3.508c-0.114,0.044 -0.238,0.044 -0.35,0.004l-9.659,-3.512c-0.153,-0.056 -0.324,-0.033 -0.458,0.06c-0.133,0.094 -0.213,0.247 -0.213,0.41l-0,0.878l9.581,3.194l1.846,-0c3.162,-0.939 6.371,-2.081 9.573,-3.18Zm-1.02,-2.299l-0.67,-2.011c-0.083,-0.248 -0.341,-0.39 -0.595,-0.328c-1.43,0.367 -4.285,1.212 -5.875,2.685c-0.001,0 -0.001,0 -0.001,0.001c-1.091,1.006 -1.536,2.142 -1.716,2.873l8.857,-3.22Zm-10.519,2.083c-0.272,-0.557 -0.683,-1.167 -1.3,-1.736c-0,-0.001 -0,-0.001 -0.001,-0.001c-1.591,-1.473 -4.446,-2.318 -5.877,-2.677c-0.249,-0.061 -0.504,0.079 -0.585,0.323c-0.001,0.001 -0.001,0.002 -0.002,0.004c-0.242,0.706 -0.559,1.654 -0.676,2.004l7.771,2.826c-1.188,-1.065 -2.675,-1.845 -4.434,-2.368c-0.264,-0.078 -0.415,-0.357 -0.336,-0.622c0.078,-0.264 0.357,-0.415 0.622,-0.336c1.912,0.569 3.526,1.423 4.818,2.583Zm8.871,-3.575c-3.179,1.136 -3.43,1.648 -4.089,2.042c-0.237,0.142 -0.314,0.449 -0.172,0.686c0.142,0.237 0.449,0.314 0.686,0.172c0.63,-0.378 0.869,-0.871 3.911,-1.958c0.26,-0.093 0.396,-0.379 0.303,-0.639c-0.093,-0.26 -0.379,-0.396 -0.639,-0.303Z"
									id="Book" />
							</svg>
						</span>
						<h3 class="leading-tight ml-16 step-title text-black font-bold">Biblioteca y Sala de
							Networking</h3>
					</li>
					<li class="mb-12 ml-4 step-dot" style="cursor:pointer;">
                        <span
                            class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -left-4 ring ring-gray-900 bg-gray-600">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill:none;stroke:#c3b9b9;">
                                <path
                                    d="M4.045 22h-1.622c-1.4 0-2.423-1.162-2.423-2.445 0-.35.076-.709.241-1.057l3.743-6.856c1.041-2.186 2.016-4.581 2.016-7.007v-.635h2l-.006 1c-.09 2.71-1.158 5.305-2.205 7.501l-3.742 6.857c-.147.303.076.642.376.642h1.887c-.352.934-.33 1.39-.265 2zm1.955-20h6c.553 0 1-.448 1-1s-.447-1-1-1h-6c-.553 0-1 .448-1 1s.447 1 1 1zm12 1h-6c-.553 0-1 .448-1 1s.447 1 1 1h6c.553 0 1-.448 1-1s-.447-1-1-1zm6 18.554c0 1.284-1.023 2.446-2.424 2.446h-13.153c-1.4 0-2.423-1.162-2.423-2.445 0-.35.076-.709.241-1.057 2.385-3.732 5.759-8.129 5.759-12.863v-.635h2l-.006 1c-.104 3.105-1.492 6.005-2.441 8h4.666l3.861 6h1.496c.309 0 .52-.342.377-.644-2.441-3.817-5.78-8.144-5.953-13.356v-1h2v.635c0 4.732 3.354 9.101 5.759 12.862.165.348.241.707.241 1.057z" />
                            </svg>
                        </span>
                        <h3 class="leading-tight ml-16 step-title text-black font-bold">Laboratorios</h3>
                    </li>                    
					<li class="mb-12 ml-4 step-dot" style="cursor:pointer;">
						<span
							class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -start-4 ring ring-gray-900 bg-gray-600">
							<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
								clip-rule="evenodd" style="fill:none;stroke:#c3b9b9;">
								<path
									d="M19 22h2v-11.931c-1.16-.753-2.515-1.509-3.815-2.052.329-.544.574-1.189.697-1.877 1.821.75 3.499 1.753 5.118 2.86v13h1v2h-24v-2h1v-13c1.615-1.084 3.298-2.08 5.122-2.83.137.664.387 1.293.728 1.863-1.36.563-2.614 1.267-3.839 2.04l-.011.007v11.92h2v-5h14v5zm-12 1h3v-4h-3v4zm4 0h2v-4h-2v4zm3 0h3v-4h-3v4zm-9-7h2v-2h-2v2zm4 0h2v-2h-2v2zm4 0h2v-2h-2v2zm4 0h2v-2h-2v2zm-12-3h2v-2h-2v2zm4 0h2v-2h-2v2zm4 0h2v-2h-2v2zm4 0h2v-2h-2v2zm-5-13c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5m1 4v-2h-2v2h-2v2h2v2h2v-2h2v-2h-2z" />
							</svg>
						</span>
						<h3 class="leading-tight ml-16 step-title text-black font-bold">Hospital Escuela
						</h3>
					</li>
				</ol>
				<ol class="relative md:grid md:grid-cols-1" style="font-family: Museo Sans; font-weight: 500;">
					<!-- Segunda columna -->
					<li class="mb-10 ml-4 step-dot" style="cursor:pointer;">
						<span
							class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -start-4 ring ring-gray-900 bg-gray-600">
							<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
								clip-rule="evenodd" style="fill:none;stroke:#c3b9b9;">
								<path
									d="M21 24h-18v-4.144l4-3.536v-3.9l5-4.42 5 4.42v3.904l4 3.536v4.14zm-8-1v-3c0-.552-.448-1-1-1s-1 .448-1 1v3h2zm2-1h4v-1.239l-4-3.535v-3.905l-3-2.652-3 2.652v3.901l-4 3.535v1.243h4v-2c0-1.656 1.344-3 3-3s3 1.344 3 3v2zm3-8.849l6 5.356-1.328 1.493-4.672-4.184v-2.665zm-12 0l-6 5.356 1.328 1.493 4.672-4.184v-2.665zm7 2.849h-2v-2c0-.552.448-1 1-1s1 .448 1 1v2zm0-14h2v2h-2v.751l7 6.249-1.328 1.493-6.672-5.975-6.672 5.975-1.328-1.493 7-6.22v-.78h-2v-2h2v-2h2v2z" />
							</svg>
						</span>
						<h3 class="leading-tight ml-16 step-title text-black font-bold">Capilla y
							Acci&oacute;n Pastoral</h3>
					</li>
					<li class="mb-10 ml-4 step-dot" style="cursor:pointer;">
						<span
							class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -start-4 ring ring-gray-900 bg-gray-600">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24"
								style="fill:none;stroke:#c3b9b9;">
								<path
									d="M22 10v12h-20v-12h20zm0-2h-20c-1.104 0-2 .896-2 2v12c0 1.104.896 2 2 2h20c1.104 0 2-.896 2-2v-12c0-1.104-.896-2-2-2zm-19 3h11v3h-11v-3zm14 5v1h-10v-1h10zm0 5h-10v-1h10v1zm2-2h-14v-1h14v1zm2-5h-6v-3h6v3zm-14-7h-4v-1h4v1zm4.422-4.448l-2.182-1.567c-.243-.177-.297-.518-.119-.761s.518-.296.762-.119l2.186 1.569-.647.878zm8.245 4.448h-2.442l-5.099-3.677.891-1.219 6.65 4.896z" />
							</svg>
						</span>
						<h3 class="leading-tight ml-16 step-title text-black font-bold">Estudio de Radio y
							Tv</h3>
					</li>
					<li class="mb-10 ml-4 step-dot" style="cursor:pointer;">
						<span
							class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -start-4 ring ring-gray-900 bg-gray-600">
							<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
								clip-rule="evenodd" style="fill:none;stroke:#c3b9b9;">
								<path
									d="M7.458 8.084l.405-.916c.694-1.565 1.591-3.592 2.754-6.265.258-.592.881-.906 1.397-.888.572.015 1.126.329 1.369.888 1.163 2.673 2.06 4.7 2.754 6.265l.405.916c.375-.936.806-2.016 1.3-3.267.204-.518.67-.806 1.17-.802.482.004.941.284 1.146.802.873 2.209 1.547 3.885 2.069 5.179 1.571 3.91 1.773 4.413 1.773 5.603 0 2.388-1.42 4.402-3.5 5.04v2.39h3.5v1h-24v-1h3.5v-2.39c-2.08-.638-3.5-2.652-3.5-5.04 0-1.19.202-1.693 1.774-5.603.521-1.294 1.195-2.97 2.068-5.179.204-.518.67-.806 1.17-.802.482.004.941.284 1.146.802.494 1.251.925 2.331 1.3 3.267zm7.915 11.197c-.569.331-1.199.581-1.873.733v3.015h4v-2.39c-.83-.254-1.555-.728-2.127-1.358zm-6.746 0c-.572.63-1.297 1.104-2.127 1.358v2.39h4v-3.015c-.674-.152-1.304-.402-1.873-.733zm3.873 3.734v-3.839c4.906-.786 5-4.751 5-5.244 0-1.218-.216-1.705-2.277-6.359-2.134-4.82-2.721-6.198-2.755-6.261-.079-.145-.193-.292-.455-.297-.238 0-.37.092-.481.297-.034.063-.621 1.441-2.755 6.261-2.061 4.654-2.277 5.141-2.277 6.359 0 .493.094 4.458 5 5.244v3.839h1zm-5.606-13.65c-1.264-3.153-1.639-4.117-1.664-4.167-.072-.151-.15-.226-.226-.228-.109 0-.188.13-.235.228-.028.05-.316.818-2.066 5.171-1.542 3.833-1.703 4.233-1.703 5.23 0 1.988 1.076 3.728 3.5 4.25v3.166h1v-3.166c.975-.209 1.729-.615 2.282-1.152-1.409-1.152-2.282-2.868-2.282-4.765 0-1.17.18-1.789 1.394-4.567zm9.323 9.332c.556.538 1.311.943 2.283 1.152v3.166h1v-3.166c2.448-.527 3.5-2.29 3.5-4.25 0-.997-.161-1.397-1.703-5.23-1.589-3.957-2.04-5.116-2.067-5.171-.072-.151-.15-.226-.226-.228-.109 0-.188.13-.235.228-.026.046-.27.697-1.663 4.167 1.214 2.778 1.394 3.397 1.394 4.567 0 1.897-.873 3.613-2.283 4.765z" />
							</svg>
						</span>
						<h3 class="leading-tight ml-16 step-title text-black font-bold">Espacios Verdes</h3>
					</li>
					<li class="mb-10 ml-4 step-dot" style="cursor:pointer;">
						<span
							class="dot absolute flex items-center justify-center w-12 h-12 rounded-full -start-4 ring ring-gray-900 bg-gray-600">
							<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
								clip-rule="evenodd" style="fill:none;stroke:#c3b9b9;">
								<path
									d="M17.422 20.394c-.177-.415-.219-.698-.289-1.118.625-.697 1.189-1.432 1.692-2.204.58-.196 1.271-.438 2.281-.956-.795 1.756-2.08 3.239-3.684 4.278m-8.181 1.212c1.039-.558 1.89-1.193 2.831-1.899 1.012.253 2.079.395 3.194.443l.001.007c.083.435.205.803.362 1.153-1.987.777-4.182.93-6.388.296m-7.24-9.619l1.273 1.217c-.194 1.076-.248 2.069-.234 3.214-.659-1.334-1.04-2.83-1.04-4.418l.001-.013m11.371-9.882l-.758 1.737c-2.139.56-3.384 1.125-5.214 2.107l-2.863-.586c2.128-2.389 5.337-3.74 8.835-3.258m-1.804 11.769c-1.083-.726-1.941-1.464-3.466-2.727l.546-3.576c1.446-.848 2.566-1.239 4.477-1.849.999.687 1.984 1.428 2.934 2.216l-.002.023c-.138 1.739-.42 3.066-.845 4.495-1.196.524-2.41.998-3.644 1.418m-4.758 6.661c-.555-.339-1.072-.728-1.549-1.164-.256-1.921-.361-3.89-.003-5.865l.001-.004 1.716-.745c1.211 1.126 2.346 2.004 3.676 2.928l.063 2.525c-1.323 1.046-2.369 1.738-3.904 2.325m15.108-7.311c-1 .722-1.776 1.225-3.025 1.683l-1.734-2.007c.451-1.449.738-3 .866-4.727l2.499-1.381c1.147 1.872 1.681 4.066 1.394 6.432m-9.918-13.224c-6.623 0-12 5.377-12 12s5.377 12 12 12 12-5.377 12-12-5.377-12-12-12" />
							</svg>
						</span>
						<h3 class="leading-tight ml-16 step-title text-black font-bold">Instalaciones
							Deportivas</h3>
					</li>
				</ol>
			</div>
        <div id="indicators-carousel" class="relative w-full block lg:hidden md:block sm:block" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="duration-700 ease-in-out absolute inset-0 transition-transform transform translate-x-0 z-20" data-carousel-item="active">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Campus.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Áreas de descanso">
                        <p class="texto-clases text-center mt-3">Áreas de descanso</p>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="duration-700 ease-in-out absolute inset-0 transition-transform transform translate-x-full z-10" data-carousel-item="">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Biblioteca.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Biblioteca y sala de networking">
                        <p class="texto-clases text-center mt-3">Biblioteca y sala de networking</p>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out absolute inset-0 transition-transform transform" data-carousel-item="">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Laboratorio.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Laboratorios">
                        <p class="texto-clases text-center mt-3">Laboratorios</p>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out absolute inset-0 transition-transform transform" data-carousel-item="">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Veterinaria.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Hospital Escuela">
                        <p class="texto-clases text-center mt-3">Hospital Escuela</p>
                    </div>
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out absolute inset-0 transition-transform transform" data-carousel-item="">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Capilla.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Capilla y Acción Pastoral">
                        <p class="texto-clases text-center mt-3">Capilla y Acción Pastoral</p>
                    </div>
                </div>
                <!-- Item 6 -->
                <div class="hidden duration-700 ease-in-out absolute inset-0 transition-transform transform" data-carousel-item="">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Radio.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Estudio de Radio y Tv">
                        <p class="texto-clases text-center mt-3">Estudio de Radio y Tv</p>
                    </div>
                </div>
                <!-- Item 7 -->
                <div class="hidden duration-700 ease-in-out absolute inset-0 transition-transform transform" data-carousel-item="">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Pileta.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Instalaciones Deportivas">
                        <p class="texto-clases text-center mt-3">Instalaciones Deportivas</p>
                    </div>
                </div>
                <!-- Item 8 -->
                <div class="duration-700 ease-in-out absolute inset-0 transition-transform transform -translate-x-full z-10" data-carousel-item="">
                    <div class="flex flex-col items-center justify-center absolute w-full h-full">
                        <img src="/landing/ingreso-carreras-ucasal/potencia/Bosque.webp" class="block w-3/5 shadow-xl rounded-lg" alt="Espacios verdes">
                        <p class="texto-clases text-center mt-3">Espacios verdes</p>
                    </div>
                </div>
            </div>
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev="">
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400 dark:bg-gray-800/30 group-hover:bg-gray-600 dark:group-hover:bg-gray-800/60 group-focus:ring-1 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"></path>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next="">
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-400 dark:bg-gray-800/30 group-hover:bg-gray-600 dark:group-hover:bg-gray-800/60 group-focus:ring-1 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"></path>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>            
        </div>
    </div>
</Container>
<style>
    .overdot {
        display: flex;
        /* Asegura que el contenido texto se centre */
        background-color: rgba(0, 0, 0, 0.5);
        /* Fondo negro con opacidad */
        color: white;
        /* Texto blanco */
        /* transition: opacity 0.3s ease; */
        /* Transición suave al cambiar */
        /* opacity: 1; */
        /* Siempre visible */
    }

    .step-dot {
        position: relative;
    }

    .dot {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .active .dot {
        transform: translateY(-50%) scale(1.15);
        background-color: #ee1818;
    }

    .active .dot svg,
    .active .step-title {
        color: black;
        font-weight: 600;
        /* Cambia el color de los SVGs y los títulos a blanco */
        transition: color 0.3s ease;
    }
    .bigTitle {
      display: inline-block;
      color: #ee1818;
      font-weight: 900;
      font-size: 1.5em;
      font-family: "Museo Sans";
    }

    ol {
        position: relative;
    }

    ol::before {
        content: "";
        position: absolute;
        top: 0;
        left: 36px;
        width: 2px;
        height: 80%;
        background: #ccc;
    }
</style>
<script is:inline defer> /* En el script se modifica lo que dice */
    document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.step-dot').forEach((dot, index) => {
        dot.addEventListener('click', () => {
            document.querySelectorAll('.step-dot, .step-title').forEach(d => {
                d.classList.remove('active');
            });
            dot.classList.add('active');
            dot.querySelector('.step-title').classList.add('active');

            const Imagenes = [
                "/landing/ingreso-carreras-ucasal/potencia/Campus.webp",
                "/landing/ingreso-carreras-ucasal/potencia/Biblioteca.webp",
                "/landing/ingreso-carreras-ucasal/potencia/Laboratorio.webp",
                "/landing/ingreso-carreras-ucasal/potencia/Veterinaria.webp",
                "/landing/ingreso-carreras-ucasal/potencia/Capilla.webp",
                "/landing/ingreso-carreras-ucasal/potencia/Radio.webp",
                "/landing/ingreso-carreras-ucasal/potencia/Bosque.webp",
                "/landing/ingreso-carreras-ucasal/potencia/Pileta.webp",
            ];

            const imageElement = document.getElementById('imagen');
            imageElement.src = Imagenes[index];
        });
    });
});

</script>